/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
}
.container {
  width: 93%;
  margin: 0 auto;
}

.btn-blue {
  border: 0;
  padding: 15px 23px;
  background-color: #537FBE;
  border-radius: 3.5%;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
/* HEADER */
header {
  background-color: #F6F8FC;
  margin: 2px 0;
  overflow: auto;
  padding: 15px 0;
}
header .container{
  display: flex;
  justify-content: space-around;
}

div#brand {
  color: #6C91C8;
  font-size: 20px;
  margin-top: 5px;
}

header div.container div:nth-child(3) {
    color: #6C91C8;
    font-size: 20px;
    margin-top: 5px;
}

header div.container div:nth-child(2) {
    color: #4C71a8;
    font-size: 30px;
    font-weight: bold;
}

@media only screen and (max-width:900px){
 
  header .container{
    flex-direction: column;
  }
  header .timing{display: none;}
}

/* NAV */
nav {
  overflow: auto;
}
nav .container{
  display: flex;
}
nav .navigation{
  margin-left: auto;
}
nav ul{padding: 0;}
nav div div{
  font-size: 40px;
  color: #6C91C8;
}

nav div div span {
  font-weight: bolder;
}

nav li {
  display: inline;
  font-weight: bold;
  padding: 0 0.5em;
}

nav li a{
  text-decoration: none;
  color: #6C91C8;
}

nav .current {
  color: #3c6198;
}

@media only screen and (max-width:900px){
  nav .container{
    flex-direction: column;
  }
  nav .navigation{
    margin-left: 0;
  }
}


/*  services section*/
.services {
  background-color: #537FBE;
  margin-top: -35px;
}

.services .container {
  padding: 65px 0;
}

.services h1{
  text-align: center;
  font-size: 40px;
  color: #FFF;
}

.services .lists {
  overflow: auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.services ul{
  padding: 0.5em;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  max-width: 20em;
  border-radius: 2%;
}
.services li {
  color: #FFF;
  font-size: 27px;
  display: flex;
  padding: 0;
}
.services ul li:before {
   content: "•";
   transform: translateY(-0.26em);
   font-size: 180%;
}
@media only screen and (max-width:800px){
  .services li{font-size: 20px; }
  .services .lists{
    flex-direction: column;
    
    align-items: center;
  }
  .services ul{
    padding: 0.6em;
    width: 17em;
  }
}

/*  Content  */
.content , .content .container{
  overflow: auto;
}

/*
.content, .content .container,
.content h1,
.content .container div{
  border: 2px solid black;
}
*/
.content {
  padding: 50px 0;
}

.content h1{
  font-size: 40px;
  color: #537FBE;
}

.content .container .cards{
  display: flex;
  justify-content: space-around;  
}
.content .cards > div{
  flex: 0 1 calc(100%/4);
}

.content .container div img{
  width: 100%;
}

.content .container p{
  color: #628AC3;
  font-size: 18px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 30.0001px;
  margin-top: 25px;
}

.btn-blue:hover{
   background-color: #FFF;
   color: #537FBE;
   border: 2px solid #537FBE;
   padding: 13px 21px;
}

@media only screen and (max-width:700px){
  .content .cards{
    flex-direction: column;
    align-items: center;
  } 
  .content .cards > div{
    max-width :25em;
    margin-bottom: 2em;
  } 
}

/*  Clien testimonials  */

.testimonials{
  background-color: #F6F8FC;
  overflow: auto;
  padding: 40px 0;
}


.testimonials h1{
  font-size: 40px;
  color: #537FBE;
  font-weight: normal;
}

.testimonials .container > div{
  display: flex;  
  justify-content: space-around;
}
.testimonials .testimonial{
  flex: 0 1 calc(100%/2.5);
}

.testimonials .container img{
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonials .container p{
  color: #628AC3;
  font-size: 18px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 30.0001px;
  margin-top: 30px;
}
.testimonials span {
  display: block;
  font-weight: bold;
  font-size: 20px;
}
@media only screen and (max-width:700px){
  .testimonials .container > div{
    flex-direction: column;
  }
  .testimonials .testimonial{
    margin-bottom: 2em;
  }
}
/* Contact details */

.contact{
  background-color: #537FBE;
  overflow: auto;
  padding: 50px 0;
}

.contact .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact .container > div{
  flex: 0 1 calc(100%/4.5);
}
.contact h1{
  font-size: 34px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-weight: normal;
}
.contact p{
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-size: normal;
  font-weight: lighter;
  font-family: Roboto;
}

@media only screen and (max-width:500px){
  .contact .container{
    display: block;
  }
}
@media only screen and (max-width:800px){
  .contact .container > div{
    flex: 0 1 calc(100%/2.2);
  }
}
/* footer */
footer {
  background-color: #537FBE;
  border: 1px solid #436FCE;
  padding: 35px 0;
}
footer div div {
  color: #FFF;
  font-size: 20px;
  font-weight: 100;
}
